<!DOCTYPE html>
<html>

<head>
    {% render 'partials/header.liquid', client: client, user: user, staff: staff %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link rel="stylesheet" href="/public/styles/md.css">
</head>

<body class="bg-primary-100 font-body">
    {% render 'partials/navbar.liquid', client: client, user: user, staff: staff %}
    <div class="md:w-8/12 mx-auto mt-32">
        <h1 class="text-white text-3xl font-semibold">{{ thread.name }}</h1>
        <div onclick="location.href = '/profile/{{ thread.author }}'"
            class="bg-primary-200 px-3 mt-7 py-3 rounded-t-2xl shadow-sm text-white w-44 font-semibold hover:bg-primary-300 duration-300 cursor-pointer">
            <div class="flex">
                <img src="{{ thread.authorInfo.avatar }}" class="w-8 h-8 rounded-full"
                    alt="{{ thread.authorTag }} Avatar">&nbsp;
                <p class="font-semibold pt-1">{{ thread.authorInfo.username }}</p>
            </div>
        </div>
        <div class="mt-2 bg-primary-200 px-5 whitespace-pre-line text-white shadow-lg rounded-tr-2xl">
            <p id="content" class="markdown-body">{{ thread.content }}</p>

            <div class="flex justify-end mx-2 font-semibold">
                <a href="/thread/{{ thread.id }}/report" class="semibold duration-300 text-red-600 hover:text-red-800 cursor-pointer"><i
                        class="fa fa-flag"></i>&nbsp;Report</a>
                <a href="/thread/{{ thread.id }}/edit" class="semibold duration-300 hover:text-gray-400 cursor-pointer">&nbsp;&nbsp;<i
                        class="fa fa-pencil"></i>&nbsp;Edit</a>
            </div>
        </div>
        <div class="mb-20 mt-2 bg-primary-200 px-5 py-7 text-white rounded-b-2xl shadow-lg">
            <h1 class="text-white text-2xl font-semibold mb-4"><i class="fa fa-star"></i>&nbsp;Replies</h1>
            <hr />
            <div id="replies" class="font-semibold mt-5">
                {% for reply in thread.replies %}
                <section id="{{ reply.id }}">
                    <div class="my-5">
                        <div class="flex hover:text-gray-300 duration-300 cursor-pointer"
                            onclick="window.open('/profile/{{ reply.id }}')">
                            <img src="{{ reply.avatar }}" class="w-8 h-8 rounded-full"
                                alt="{{ reply.tag }} Avatar">&nbsp;
                            <p class="font-semibold pt-1">{{ reply.tag }}&nbsp;<b name="date"
                                    class="text-gray-300 font-medium text-xs">{{ reply.date }}</b></p>
                        </div>
                        <p class="pt-3 pl-4"><i class="fa fa-arrow-right"></i>&nbsp;&nbsp;{{ reply.content }}</p>
                    </div>
                </section>
                <hr />
                {% endfor %}
            </div>
            {% if thread.closed %}
               <p class="pt-3 pl-4 text-2xl"><i class="fa fa-close"></i>&nbsp;&nbsp;Replies are closed to this thread!</p>
            {% else %}
            <textarea id="reply_content"
                class="rounded-lg outline-none border-none shadow-lg h-32 w-full mt-7 py-4 px-5 font-semibold text-white bg-primary-100"
                placeholder="That's very cool article, keep going mate!"></textarea>
            <div class="mx-auto flex">
                <a class="rounded-lg justify-end shadow-lg px-8 py-3 bg-primary-100 text-white text-md font-semibold cursor-pointer duration-100 hover:bg-primary-300"
                    onclick="submitReply()"><i class="fa fa-plus"></i>&nbsp;Submit Reply</a>
            </div>
            {% endif %}
        </div>
    </div>

    <footer>
        <script src="/public/scripts/threads/thread.js"></script>
        <script src="/public/scripts/tailwind.config.js"></script>
        <p class="text-white text-base font-semibold text-center p-5">{{ client.config.SiteName}} ©️ 2022 - 2023</p>
    </footer>
</body>

</html>